@inherits MainLayoutBase

<div class="page">
    <main>
        <div class="top-row px-4 auth" id="main-login-display">
            <span id="main-login-display-message">
                <strong>
                    <em>
                        WINNER WINNER CHICKEN DINNER
                    </em>
                </strong>
            </span>
            <LoginDisplay />
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>